.form-title {
    color: cyan;
    text-transform: uppercase;
}

.form-control {
    width: 100% !important
}

.space {
    margin-bottom: 15px;
}

#btnFilter {
    margin-top:20px;
    position: relative;
    left: 90%;
}

.form-inline {
    margin-bottom: 10px !important;
}